<div class="container text-center" style="max-width: 40rem;">
  <h2>Products Rest Angular</h2>
  <p>
    This application was build to finish the Web Application Development
    discipline of ADSGE course at IFTM Udi Centro. It uses a fake rest API (json
    server on db.js file) simulating the
    <a href="https://github.com/isaquebrb/products-rest-api"
      >'products-rest-api'</a
    >, to manage products.
    <br />
    <a
      class="btn btn-primary btn-sm"
      href="https://github.com/isaquebrb/products-rest-angular"
      >Click</a
    >
    to see the github project and how to get it started.
  </p>
</div>
