<div class="container" style="max-width: 40rem;">
    <h2>Products Rest Angular</h2>
    <p>
      This application was build to finish the Web Application Development
      discipline of ADSGE course at IFTM Udi Centro. It uses a fake rest API (json
      server on db.js file) simulating the
      <a href="https://github.com/isaquebrb/products-rest-api"
        >'products-rest-api'</a
      >, to manage products, it's categories and orders.
      <br />
      <a
        class="btn btn-primary btn-sm"
        href="https://github.com/isaquebrb/products-rest-angular"
        >Click</a
      >
  
      to see the github project and how to get it started.
    </p>
  
    <!--<p><strong>Getting Started</strong><br>
        Open the terminal, go to the project folder, run command:<br>
        <code>npm install bootstrap jquery popper.js json-server --save</code><br>
        Start json server<br>
        <code>json-server --watch db.json</code></p>
    
      <p><strong>Resources:</strong></p>
      <p>Angular 8.2, Json Server, Bootstrap 4.4, JQuery 3.4, Popper.js 1.16.</p>-->
  </div>
  